<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyq.bloggy.mapper.ReplyCommentMapper">

    <insert id="addComment">
        insert into tb_reply_comment(reply_comment_id, comment_id, type, content, user_id, like_num, status,
                                     create_time)
        select temp.id,
               c_id,
               t,
               c,
               u_id,
               l,
               s,
               ct
        from (SELECT #{id}         as id,
                     #{commentId}  as c_id,
                     #{type}       as t,
                     #{content}    as c,
                     #{userId}     as u_id,
                     #{likeNum}    as l,
                     #{status}     as s,
                     #{createTime} as ct) temp
                 join tb_article_comment tac on tac.article_comment_id = #{commentId}
                 join tb_user tu on tu.id = #{userId}
    </insert>
    <insert id="addLike">
        insert into tb_reply_comment_like(user_id, comment_id, create_time)
        select
        temp2.fromId,temp2.toId, temp2.create_time
        from
        (select temp.fromId,temp.toId,temp.create_time
        from(
        <foreach collection="thumbs" item="item" separator="union all">
            select #{item.fromId} as fromId,#{item.toId} as toId,#{item.createTime} as create_time
        </foreach>
        )as temp left join tb_user as tu on tu.id=temp.fromId left join tb_reply_comment as trcl on
        trcl.reply_comment_id=temp.toId
        where tu.id is not null and trcl.reply_comment_id is not null)as temp2
        left join tb_reply_comment_like trcl on trcl.user_id=temp2.fromId and trcl.comment_id=temp2.toId where
        trcl.user_id is null
    </insert>
    <update id="updateLikeNum">
        update tb_reply_comment
        set like_num=like_num + #{num}
        where reply_comment_id = #{id}
    </update>
    <delete id="delLike">
        delete from tb_reply_comment_like where comment_id in (
        select temp.comment_id from(
        <foreach collection="thumbs" item="item" separator="union all">
            select comment_id from tb_reply_comment_like where comment_id=#{item.toId} and user_id=#{item.fromId}
        </foreach>)temp
        )
    </delete>
    <select id="getByArtCommentId" resultMap="com.zyq.bloggy.mapper.ArticleCommentMapper.baseCommentMap">
        select trc.reply_comment_id                  as reply_id,
               trc.content,
               trc.like_num,
               trc.type,
               trc.create_time,
               tu.id                                 as user_id,
               tu.username,
               tu.nickname,
               tu.avatar,
               trc.comment_id,
               if(ISNULL(trcl.user_id), false, true) as is_like
        from tb_reply_comment trc
                 join tb_user tu on trc.user_id = tu.id
                 join tb_article_comment tac on tac.article_comment_id = trc.comment_id
                 left join tb_reply_comment_like trcl
                           on trcl.comment_id = trc.reply_comment_id and trcl.user_id = #{userId}
        where trc.comment_id = #{id}
    </select>
    <select id="getByCommentIdLimited" resultMap="com.zyq.bloggy.mapper.ArticleCommentMapper.baseCommentMap">
        select trc.reply_comment_id as reply_id,
               trc.content,
               trc.like_num,
               trc.create_time,
               tu.id                as user_id,
               tu.username,
               tu.nickname,
               tu.avatar,
               trc.comment_id
        from tb_reply_comment trc
                 join tb_user tu on trc.user_id = tu.id
                 join tb_article_comment tac on tac.article_comment_id = trc.comment_id
        where trc.comment_id = #{id}
    </select>
    <select id="getIsLike" resultType="java.lang.Integer">
        select count(*)
        from tb_reply_comment_like
        where comment_id = #{commentId}
          and user_id = #{userId}
    </select>
</mapper>