<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyq.bloggy.mapper.SortMapper">
    <resultMap id="baseSortMap" type="com.zyq.bloggy.model.pojo.Sort">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="owner" column="owner"/>
        <result property="cover" column="cover"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <insert id="addArticleToSort">
        insert into tb_article_of_sort(sort_id, article_id)
        select s_id, a_id
        from (SELECT #{sortId}    s_id,
                     #{articleId} a_id) as temp
                 join tb_sort ts on ts.id = temp.s_id and ts.owner = #{userId}
                 join tb_article ta on ta.id = temp.a_id and ta.status = 1
    </insert>
    <delete id="delArticleFromSort">
        delete
        from tb_article_of_sort
        where sort_id = #{sortId}
          and article_id = #{articleId}
    </delete>
    <delete id="delArticlesFromSort">
        delete from tb_article_of_sort where sort_id=#{sortId} and article_id in
        <foreach collection="articleIds" item="id" open="(" close=")" separator=",">
            id
        </foreach>
    </delete>
    <delete id="delById">
        update tb_sort
        set status=0
        where id = #{id}
          and owner = #{userId}
    </delete>
    <delete id="deleteByArticleIdAndUSerId">
        delete
        from tb_article_of_sort
        where article_id = #{articleId}
          and sort_id in (select ts.id from tb_sort ts where owner = #{userId})
    </delete>

    <select id="getSortedByUserIdAndArticleId" resultType="java.lang.Integer">
        select count(taos.article_id)
        from tb_article_of_sort taos
                 join tb_sort ts on taos.sort_id = ts.id and ts.owner = #{userId}
        where taos.article_id = #{articleId}
    </select>
    <select id="getArticleIdsBySortId" resultType="java.lang.Long">
        select article_id
        from tb_article_of_sort
        where sort_id = #{id}
    </select>
</mapper>